<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
     <servlet-name>JoinService</servlet-name>
     <display-name>JoinService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controiier.JoinService</servlet-class>
  </servlet>
  
  
  <servlet>
     <servlet-name>LoginService</servlet-name>
     <display-name>LoginService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controiier.LoginService</servlet-class>
  </servlet>
  
  <servlet>
     <servlet-name>LogoutService</servlet-name>
     <display-name>LogoutService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controiier.LogoutService</servlet-class>
  </servlet>
  
  
  <servlet>
  	<servlet-name>LoginService2</servlet-name>
  	<display-name>LoginService2</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controiier.LoginService2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IdCheck</servlet-name>
  	<display-name>IdCheck</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controiier.IdCheck</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>JoinService</servlet-name>
     <url-pattern>/JoinService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>LoginService</servlet-name>
     <url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>LogoutService</servlet-name>
     <url-pattern>/LogoutService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginService2</servlet-name>
  	<url-pattern>/LoginService2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IdCheck</servlet-name>
  	<url-pattern>/IdCheck</url-pattern>
  </servlet-mapping>
</web-app>